footer {
  h3 {
    display: none;
  }
  
  ul {
    li {
      display: inline-block;
      float: left;
      margin-right: $gutter;
    }
  }
  
  img {
    height: $gutter; 
  }
}

article figure figcaption, article h1 {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
}




@mixin block {
  width: 100%;
  float: left;
}