/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 2, other.scss */
footer h3 {
  display: none;
}
/* line 7, other.scss */
footer ul li {
  display: inline-block;
  float: left;
  margin-right: 1.25em;
}
/* line 14, other.scss */
footer img {
  height: 1.25em;
}

/* line 19, other.scss */
.frontpage article figure figcaption, .frontpage article h1 {
  display: none;
}

/* line 23, other.scss */
.portfolio article.logo h3, .portfolio article.intro h3 {
  display: none;
}

/* line 27, other.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 13, screen.scss */
html body {
  width: 98%;
  margin: 1% auto;
  font-family: "Anonymous Pro", monospace;
  font-size: 100%;
  line-height: 1.25;
}
/* line 51, typography.scss */
html body h1 {
  font-weight: bold;
  margin-top: 1.25em;
  margin-top: 2.5em;
  margin-bottom: calc(1.25em - 1px);
  border-bottom: 1px solid;
  border-bottom: 0.625em solid;
  padding-bottom: 0.625em;
  margin-bottom: 1.25em;
  margin-top: 0;
  border-bottom: none;
  padding: 0.625em 0.3125em;
  width: calc(100% - 0.625em);
  color: #fff;
  background: #000;
}
/* line 55, typography.scss */
html body h2 {
  font-weight: bold;
  margin-top: 1.25em;
  margin-top: 2.5em;
  margin-bottom: calc(1.25em - 1px);
  border-bottom: 1px solid;
  border-bottom: 0.625em solid;
  padding-bottom: 0.625em;
  margin-bottom: 1.25em;
}
/* line 59, typography.scss */
html body h3 {
  font-weight: bold;
  margin-top: 1.25em;
  margin-top: 2.5em;
  margin-bottom: calc(1.25em - 1px);
  border-bottom: 1px solid;
}
/* line 63, typography.scss */
html body h4 {
  font-weight: bold;
  margin-top: 1.25em;
}
/* line 67, typography.scss */
html body em {
  border-bottom: 1px dashed;
}
/* line 71, typography.scss */
html body mark {
  padding: 0.15625em;
}
/* line 75, typography.scss */
html body figcaption {
  font-style: italic;
}
/* line 82, typography.scss */
html body p + p {
  margin-top: 1.25em;
}
/* line 22, screen.scss */
html body header {
  width: 100%;
  float: left;
  width: 31.25em;
  float: left;
  margin-right: 1.25em;
}
@media only screen and (max-width: 64.999em) {
  /* line 22, screen.scss */
  html body header {
    width: 100%;
    max-width: 31.25em;
    margin-right: 0;
    margin-bottom: 1.25em;
  }
}
/* line 27, screen.scss */
html body footer {
  width: 100%;
  float: left;
  width: 31.25em;
  float: left;
  margin-right: 1.25em;
  margin-top: 6.25em;
  margin-bottom: 6.25em;
}
@media only screen and (max-width: 64.999em) {
  /* line 27, screen.scss */
  html body footer {
    width: 100%;
    max-width: 31.25em;
    margin-right: 0;
    margin-bottom: 1.25em;
  }
}
@media only screen and (min-width: 64em) {
  /* line 27, screen.scss */
  html body footer {
    margin-left: 8.125em;
  }
}
/* line 32, screen.scss */
html body footer nav {
  margin-top: 1.25em;
}
/* line 39, screen.scss */
html body.frontpage article {
  width: 15em;
  margin-right: 1.25em;
  float: left;
  height: 11.25em;
  margin-bottom: 1.25em;
}
@media only screen and (max-width: 32.499em) {
  /* line 39, screen.scss */
  html body.frontpage article {
    width: 100%;
    float: left;
    height: auto;
  }
}
@media only screen and (min-width: 90.001em) {
  /* line 39, screen.scss */
  html body.frontpage article {
    width: 23.125em;
    margin-right: 1.25em;
    float: left;
    height: 17.5em;
    margin-bottom: 1.25em;
  }
}
/* line 42, screen.scss */
html body.frontpage article.reboot, html body.frontpage article.next {
  display: none;
}
/* line 51, screen.scss */
html body.portfolio main {
  width: 100%;
  float: left;
}
/* line 56, screen.scss */
html body.portfolio article aside, html body.portfolio article figcaption, html body.portfolio article.services, html body.portfolio article.next, html body.portfolio article.logo-animated {
  display: none;
}
/* line 60, screen.scss */
html body.portfolio article.logo {
  width: 15em;
  margin-right: 1.25em;
  float: left;
}
/* line 63, screen.scss */
html body.portfolio article.logo figcaption {
  display: none;
}
/* line 68, screen.scss */
html body.portfolio article.intro {
  width: 31.25em;
  float: left;
  margin-right: 1.25em;
  margin-bottom: 1.25em;
  margin-top: 1.25em;
  font-weight: bold;
}
@media only screen and (max-width: 64.999em) {
  /* line 68, screen.scss */
  html body.portfolio article.intro {
    width: 100%;
    max-width: 31.25em;
    margin-right: 0;
    margin-bottom: 1.25em;
  }
}
/* line 76, screen.scss */
html body.portfolio article.image {
  margin-bottom: 1.25em;
}
/* line 79, screen.scss */
html body.portfolio article.image figure {
  margin-bottom: 1.25em;
}
/* line 84, screen.scss */
html body.portfolio article.smartphone {
  width: 100%;
  max-width: 15em;
  margin-right: 1.25em;
  float: left;
}
@media only screen and (min-width: 64.001em) {
  /* line 84, screen.scss */
  html body.portfolio article.smartphone {
    margin-right: 8.125em;
  }
}
/* line 89, screen.scss */
html body.portfolio article.tablet {
  width: 100%;
  max-width: 23.125em;
  margin-right: 1.25em;
  float: left;
}
/* line 93, screen.scss */
html body.portfolio article.desktop {
  width: 100%;
  max-width: 39.375em;
  margin-right: 1.25em;
  float: left;
}
/* line 98, screen.scss */
html body.portfolio .similar-projects {
  display: none;
}
/* line 106, screen.scss */
html body.story article aside, html body.story article figcaption {
  display: block;
}
/* line 110, screen.scss */
html body.story article.smartphone {
  width: 100%;
  max-width: 39.375em;
  margin-right: 1.25em;
  float: left;
}
/* line 148, grid.scss */
html body.story article.smartphone figure {
  width: 100%;
  max-width: 15em;
  margin-right: 1.25em;
  float: left;
  margin-right: 1.25em;
}
/* line 153, grid.scss */
html body.story article.smartphone aside {
  width: 100%;
  max-width: 23.125em;
  margin-right: 1.25em;
  float: left;
  margin-right: 0;
}
/* line 114, screen.scss */
html body.story article.tablet {
  width: 100%;
  max-width: 55.625em;
  margin-right: 1.25em;
  float: left;
}
/* line 148, grid.scss */
html body.story article.tablet figure {
  width: 100%;
  max-width: 31.25em;
  margin-right: 1.25em;
  float: left;
  margin-right: 1.25em;
}
/* line 153, grid.scss */
html body.story article.tablet aside {
  width: 100%;
  max-width: 23.125em;
  margin-right: 1.25em;
  float: left;
  margin-right: 0;
}
/* line 119, screen.scss */
html body.story article.desktop {
  width: 100%;
  max-width: 80em;
  margin-right: 1.25em;
  float: left;
}
/* line 148, grid.scss */
html body.story article.desktop figure {
  width: 100%;
  max-width: 55.625em;
  margin-right: 1.25em;
  float: left;
  margin-right: 1.25em;
}
/* line 153, grid.scss */
html body.story article.desktop aside {
  width: 100%;
  max-width: 23.125em;
  margin-right: 1.25em;
  float: left;
  margin-right: 0;
}
/* line 128, screen.scss */
html body.article header {
  height: 11.25em;
  margin-bottom: 1.25em;
}
/* line 133, screen.scss */
html body.article article {
  width: 31.25em;
  float: left;
  margin-right: 1.25em;
  margin-right: 8.125em;
}
@media only screen and (max-width: 64.999em) {
  /* line 133, screen.scss */
  html body.article article {
    width: 100%;
    max-width: 31.25em;
    margin-right: 0;
    margin-bottom: 1.25em;
  }
}
@media only screen and (max-width: 85.374em) {
  /* line 133, screen.scss */
  html body.article article {
    margin-right: 1.25em;
  }
  /* line 169, grid.scss */
  html body.article article ol, html body.article article ul {
    margin-left: 1.5625em;
  }
}
@media only screen and (min-width: 64.001em) {
  /* line 175, grid.scss */
  html body.article article.long {
    margin-top: 16.25em;
    position: relative;
    left: -16.25em;
  }
}
/* line 144, typography.scss */
html body.article article ul {
  list-style-type: square;
}
/* line 148, typography.scss */
html body.article article ol {
  list-style-type: decimal;
}
/* line 152, typography.scss */
html body.article article table {
  width: 100%;
  display: table !important;
}
/* line 113, typography.scss */
html body.article article table thead {
  border-bottom: 1px dashed;
}
/* line 117, typography.scss */
html body.article article table thead th, html body.article article table tbody td {
  padding: 0.625em;
  padding-left: 0;
}
/* line 123, typography.scss */
html body.article article table tbody td {
  border-bottom: 1px dashed;
}
/* line 156, typography.scss */
html body.article article blockquote {
  font-style: italic;
  border: 1px dashed;
  padding: 1.25em;
  width: calc(100% - 2.5em - 2px);
}
/* line 160, typography.scss */
html body.article article figure {
  border: 1px dashed;
  padding: 1.25em;
  width: calc(100% - 2.5em - 2px);
}
/* line 166, typography.scss */
html body.article article table, html body.article article blockquote, html body.article article figure {
  margin: 1.25em 0;
}
/* line 170, typography.scss */
html body.article article figure + figure, html body.article article ol + p, html body.article article ul + p {
  margin-top: 1.25em;
}
/* line 138, screen.scss */
html body.article article.intro p {
  font-weight: bold;
}
/* line 150, screen.scss */
html body #grid {
  display: none;
  position: absolute;
  top: 0;
  opacity: .1;
  z-index: -1;
}
/* line 159, screen.scss */
html body #grid .col {
  border-right: 1px solid;
  border-bottom: 1px solid;
  width: calc(6.875em + 1.25em - 1px);
  height: calc(5em + 1.25em - 1px);
  float: left;
}
/* line 167, screen.scss */
html body #grid .gutter-right {
  float: right;
  border-left: 1px solid;
  width: calc(1.25em - 1px);
  height: 100%;
}
/* line 174, screen.scss */
html body #grid .gutter-bottom {
  float: left;
  border-bottom: 1px solid;
  height: calc(1.25em - 1px);
  width: 100%;
}
