/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@import "grid";
@import "typography";
@import "other";

html {
  body {
    width: 98%;
    margin: 1% auto;
    
    @include typographic-grid;
    @include typographic-settings;
    
    
    
    header {
      @include block;
      @include text-grid;
    }
    
    footer {
      @include block;
      @include text-grid;
      @include footer-grid;
      
      nav {
        margin-top: $gutter;
      }
    }
    
    
    &.frontpage {
      article {
        @include portfolio-grid;
        
        &.reboot, &.next {
          display: none;
        }
        
      }
    }
    
    
    &.portfolio {
      main {
        @include block;
      }
      
      article {
        aside, figcaption, &.services, &.next, &.logo-animated {
          display: none;
        }
        
        &.logo {
          @include col(2);
          
          figcaption {
            display: none;
          }
        }
        
        &.intro {
          @include text-grid;
          margin-bottom: $gutter;
          margin-top: $gutter;
          
          @include lead;
        }
        
        &.image {
          margin-bottom: $gutter;
          
          figure {
            margin-bottom: $gutter;
          }
        }
        
        &.smartphone {
          @include col(2, responsive);
          @include smartphone-screenshot-grid;
        }
        
        &.tablet {
          @include col(3, responsive);
        }
        
        &.desktop {
          @include col(5, responsive);
        }   
      }
      
      .similar-projects {
        display: none;
      }
    }
    
    
    &.story {
      article {
        aside, figcaption {
          display: block;
        }
        
        &.smartphone {
          @include story-grid(2, $gutter, 3, 0);
        }
        
        &.tablet {
          @include story-grid(4, $gutter, 3, 0);
        }
        
        
        &.desktop {
          @include story-grid(7, $gutter, 3, 0);
        }
      }
    
    }
    
    
    &.article {
      article {
        @include article-grid;
        @include extended-typographic-settings;
        
        &.intro {
          p {
            @include lead;
          }
        }
      }
    }
    
    
    
    
    // The visual grid
    // ---------------------------------------------
    #grid {
      display: block;
      
      position: absolute;
      top: 0;
      opacity: .1;
      z-index: -1;
    }
    
    #grid .col {
      border-right: 1px solid;
      border-bottom: 1px solid;
      width: calc(#{$grid-width} + #{$gutter} - 1px);
      height: calc(#{$text-height} + #{$gutter} - 1px);
      float: left;
    }
    
    #grid .gutter-right {
      float: right;
      border-left: 1px solid;
      width: calc(#{$gutter} - 1px);
      height: 100%;
    }
    
    #grid .gutter-bottom {
      float: left;
      border-bottom: 1px solid;
      height: calc(#{$gutter} - 1px);
      width: 100%;
    }
  }
}
