/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 2, other.scss */
footer h3 {
  display: none;
}
/* line 7, other.scss */
footer ul li {
  display: inline-block;
  float: left;
  margin-right: 1.25em;
}
/* line 14, other.scss */
footer img {
  height: 1.25em;
}

/* line 19, other.scss */
.frontpage article figure figcaption, .frontpage article h1 {
  display: none;
}

/* line 23, other.scss */
.portfolio article.logo h3, .portfolio article.intro h3 {
  display: none;
}

/* line 27, other.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 15, screen.scss */
html body {
  width: calc(100% - 2.5em);
  margin: 1.25em;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: 87.5%;
  line-height: 1.25;
}
/* line 51, typography.scss */
html body h1 {
  font-weight: bold;
  margin-top: 1.25em;
  margin-top: 2.5em;
  margin-bottom: calc(1.25em - 1px);
  border-bottom: 1px solid;
  border-bottom: 0.625em solid;
  padding-bottom: 0.625em;
  margin-bottom: 1.25em;
  margin-top: 0;
  border-bottom: none;
  padding: 0.625em 0.3125em;
  width: calc(100% - 0.625em);
  color: #fff;
  background: #000;
}
/* line 55, typography.scss */
html body h2 {
  font-weight: bold;
  margin-top: 1.25em;
  margin-top: 2.5em;
  margin-bottom: calc(1.25em - 1px);
  border-bottom: 1px solid;
  border-bottom: 0.625em solid;
  padding-bottom: 0.625em;
  margin-bottom: 1.25em;
}
/* line 59, typography.scss */
html body h3 {
  font-weight: bold;
  margin-top: 1.25em;
  margin-top: 2.5em;
  margin-bottom: calc(1.25em - 1px);
  border-bottom: 1px solid;
}
/* line 63, typography.scss */
html body h4 {
  font-weight: bold;
  margin-top: 1.25em;
}
/* line 67, typography.scss */
html body em {
  font-style: italic;
}
/* line 71, typography.scss */
html body mark {
  padding: 0.15625em;
}
/* line 75, typography.scss */
html body figcaption {
  font-style: italic;
}
/* line 82, typography.scss */
html body p + p {
  margin-top: 1.25em;
}
/* line 26, screen.scss */
html body header {
  width: 100%;
  float: left;
  width: 33.75em;
  float: left;
  margin-right: 1.25em;
  height: 6.25em;
}
@media only screen and (max-width: 33.749em) {
  /* line 26, screen.scss */
  html body header {
    width: 100%;
    max-width: 33.75em;
    margin-right: 0;
    margin-bottom: 1.25em;
  }
}
/* line 38, decorations.scss */
html body header h4 {
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-size: 1.625em;
  font-weight: normal;
  font-style: italic;
}
/* line 44, decorations.scss */
html body header h4 a, html body header h4 a:visited, html body header h4 a:hover {
  color: blue;
  text-decoration: none;
}
/* line 33, screen.scss */
html body footer {
  width: 100%;
  float: left;
  width: 33.75em;
  float: left;
  margin-right: 1.25em;
  height: 12.5em;
  margin-top: 6.25em;
  margin-bottom: 6.25em;
}
@media only screen and (max-width: 33.749em) {
  /* line 33, screen.scss */
  html body footer {
    width: 100%;
    max-width: 33.75em;
    margin-right: 0;
    margin-bottom: 1.25em;
  }
}
@media only screen and (min-width: 64em) {
  /* line 33, screen.scss */
  html body footer {
    margin-left: 8.75em;
  }
}
/* line 39, screen.scss */
html body footer nav {
  margin-top: 1.25em;
}
/* line 46, screen.scss */
html body.frontpage article {
  width: 16.25em;
  margin-right: 1.25em;
  float: left;
  height: 12.5em;
}
@media only screen and (max-width: 33.749em) {
  /* line 46, screen.scss */
  html body.frontpage article {
    width: 100%;
    float: left;
    height: auto;
    margin-bottom: 1.25em;
  }
}
@media only screen and (min-width: 64em) {
  /* line 46, screen.scss */
  html body.frontpage article {
    width: 25em;
    margin-right: 1.25em;
    float: left;
    height: 18.75em;
  }
}
/* line 49, screen.scss */
html body.frontpage article.reboot, html body.frontpage article.next {
  display: none;
}
/* line 58, screen.scss */
html body.portfolio main {
  width: 100%;
  float: left;
}
/* line 63, screen.scss */
html body.portfolio article aside, html body.portfolio article h3, html body.portfolio article figcaption, html body.portfolio article.services, html body.portfolio article.next, html body.portfolio article.logo-animated {
  display: none;
}
/* line 67, screen.scss */
html body.portfolio article.logo {
  width: 16.25em;
  margin-right: 1.25em;
  float: left;
  height: 12.5em;
}
/* line 72, screen.scss */
html body.portfolio article.intro {
  width: 33.75em;
  float: left;
  margin-right: 1.25em;
  height: 12.5em;
  font-weight: bold;
}
@media only screen and (max-width: 33.749em) {
  /* line 72, screen.scss */
  html body.portfolio article.intro {
    width: 100%;
    max-width: 33.75em;
    margin-right: 0;
    margin-bottom: 1.25em;
  }
}
/* line 78, screen.scss */
html body.portfolio article .short {
  width: 100%;
  float: left;
  margin-top: 1.25em;
}
/* line 83, screen.scss */
html body.portfolio article.smartphone {
  width: 100%;
  max-width: 25em;
  margin-right: 1.25em;
  float: left;
  height: 37.5em;
}
/* line 141, grid.scss */
html body.portfolio article.smartphone figure {
  width: 100%;
  max-width: 16.25em;
  margin-right: 1.25em;
  float: left;
}
@media only screen and (max-width: 29.999em) {
  /* line 83, screen.scss */
  html body.portfolio article.smartphone {
    height: auto;
    margin-bottom: 1.25em;
  }
}
/* line 87, screen.scss */
html body.portfolio article.tablet {
  width: 100%;
  max-width: 33.75em;
  margin-right: 1.25em;
  float: left;
  height: 43.75em;
}
/* line 141, grid.scss */
html body.portfolio article.tablet figure {
  width: 100%;
  max-width: 25em;
  margin-right: 1.25em;
  float: left;
}
@media only screen and (max-width: 29.999em) {
  /* line 87, screen.scss */
  html body.portfolio article.tablet {
    height: auto;
    margin-bottom: 1.25em;
  }
}
/* line 91, screen.scss */
html body.portfolio article.desktop {
  width: 100%;
  max-width: 42.5em;
  margin-right: 1.25em;
  float: left;
  height: 37.5em;
}
/* line 141, grid.scss */
html body.portfolio article.desktop figure {
  width: 100%;
  max-width: 42.5em;
  margin-right: 1.25em;
  float: left;
}
@media only screen and (max-width: 29.999em) {
  /* line 91, screen.scss */
  html body.portfolio article.desktop {
    height: auto;
    margin-bottom: 1.25em;
  }
}
/* line 97, screen.scss */
html body.portfolio article.smartphone figure, html body.portfolio article.tablet figure {
  display: inline-block;
  background: black;
  box-shadow: 1px 0 #cccccc, 0 1px #cccccc, 2px 1px #cccccc, 1px 2px #cccccc, 3px 2px #cccccc, 2px 3px #cccccc, 4px 3px #cccccc, 3px 4px #cccccc, 5px 4px black, 4px 5px black;
  -moz-border-radius: 1.25em;
  -webkit-border-radius: 1.25em;
  border-radius: 1.25em;
  padding: 0.3125em 0.15625em;
}
/* line 15, decorations.scss */
html body.portfolio article.smartphone figure img, html body.portfolio article.tablet figure img {
  margin: 1.25em 0.625em 2.5em;
  width: calc(100% - 1.25em);
}
/* line 20, decorations.scss */
html body.portfolio article.smartphone figure figcaption, html body.portfolio article.tablet figure figcaption {
  font-style: italic;
  display: none;
}
/* line 104, screen.scss */
html body.portfolio .similar-projects {
  display: none;
}
/* line 112, screen.scss */
html body.story article aside, html body.story article aside h3 {
  display: block;
}
/* line 116, screen.scss */
html body.story article.logo figcaption, html body.story article .short {
  display: none;
}
/* line 120, screen.scss */
html body.story article.intro {
  margin-left: 25em;
}
/* line 125, screen.scss */
html body.story article.smartphone {
  width: 100%;
  max-width: 60em;
  margin-right: 1.25em;
  float: left;
  position: relative;
  margin-left: 8.75em;
}
/* line 159, grid.scss */
html body.story article.smartphone aside {
  width: 25em;
  margin-right: 1.25em;
  float: left;
  margin-left: 26.25em;
  position: absolute;
}
@media only screen and (max-width: 51.249em) {
  /* line 125, screen.scss */
  html body.story article.smartphone {
    height: auto;
  }
  /* line 169, grid.scss */
  html body.story article.smartphone aside {
    width: 100%;
    float: left;
    max-width: 25em;
    margin-left: 0;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    position: relative;
  }
}
/* line 130, screen.scss */
html body.story article.tablet {
  width: 100%;
  max-width: 68.75em;
  margin-right: 1.25em;
  float: left;
  position: relative;
  margin-left: 8.75em;
}
/* line 159, grid.scss */
html body.story article.tablet aside {
  width: 25em;
  margin-right: 1.25em;
  float: left;
  margin-left: 35em;
  position: absolute;
}
@media only screen and (max-width: 59.999em) {
  /* line 130, screen.scss */
  html body.story article.tablet {
    height: auto;
  }
  /* line 169, grid.scss */
  html body.story article.tablet aside {
    width: 100%;
    float: left;
    max-width: 25em;
    margin-left: 0;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    position: relative;
  }
}
/* line 135, screen.scss */
html body.story article.desktop {
  width: 100%;
  max-width: 68.75em;
  margin-right: 1.25em;
  float: left;
  height: 37.5em;
  width: 100%;
  max-width: 95em;
  margin-right: 1.25em;
  float: left;
  position: relative;
}
/* line 141, grid.scss */
html body.story article.desktop figure {
  width: 100%;
  max-width: 60em;
  margin-right: 1.25em;
  float: left;
}
@media only screen and (max-width: 29.999em) {
  /* line 135, screen.scss */
  html body.story article.desktop {
    height: auto;
    margin-bottom: 1.25em;
  }
}
/* line 159, grid.scss */
html body.story article.desktop aside {
  width: 25em;
  margin-right: 1.25em;
  float: left;
  margin-left: 61.25em;
  position: absolute;
}
@media only screen and (max-width: 86.249em) {
  /* line 135, screen.scss */
  html body.story article.desktop {
    height: auto;
  }
  /* line 169, grid.scss */
  html body.story article.desktop aside {
    width: 100%;
    float: left;
    max-width: 25em;
    margin-left: 0;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    position: relative;
  }
}
/* line 145, screen.scss */
html body.article header {
  height: 12.5em;
}
/* line 150, screen.scss */
html body.article article {
  width: 33.75em;
  float: left;
  margin-right: 1.25em;
  margin-left: 8.75em;
  margin-right: 25em;
}
@media only screen and (max-width: 33.749em) {
  /* line 150, screen.scss */
  html body.article article {
    width: 100%;
    max-width: 33.75em;
    margin-right: 0;
    margin-bottom: 1.25em;
  }
}
@media only screen and (max-width: 85em) {
  /* line 190, grid.scss */
  html body.article article ol, html body.article article ul {
    margin-left: 1.5625em;
  }
}
@media only screen and (min-width: 127.5em) {
  /* line 197, grid.scss */
  html body.article article.move-left {
    margin-right: 42.5em;
  }
}
/* line 144, typography.scss */
html body.article article ul {
  list-style-type: square;
}
/* line 148, typography.scss */
html body.article article ol {
  list-style-type: decimal;
}
/* line 152, typography.scss */
html body.article article table {
  width: 100%;
  display: table !important;
}
/* line 113, typography.scss */
html body.article article table thead {
  border-bottom: 1px dashed;
}
/* line 117, typography.scss */
html body.article article table thead th, html body.article article table tbody td {
  padding: 0.625em;
  padding-left: 0;
}
/* line 123, typography.scss */
html body.article article table tbody td {
  border-bottom: 1px dashed;
}
/* line 156, typography.scss */
html body.article article blockquote {
  font-style: italic;
  border: 1px dashed;
  padding: 1.25em;
  width: calc(100% - 2.5em - 2px);
}
/* line 160, typography.scss */
html body.article article figure {
  border: 1px dashed;
  padding: 1.25em;
  width: calc(100% - 2.5em - 2px);
}
/* line 166, typography.scss */
html body.article article table, html body.article article blockquote, html body.article article figure {
  margin: 1.25em 0;
}
/* line 170, typography.scss */
html body.article article figure + figure, html body.article article ol + p, html body.article article ul + p {
  margin-top: 1.25em;
}
/* line 155, screen.scss */
html body.article article.intro p {
  font-weight: bold;
}
/* line 168, screen.scss */
html body .h-vertical, html body .h-horizontal, html body .h-gravity-point {
  position: absolute;
  z-index: -1;
  opacity: .3;
}
/* line 173, screen.scss */
html body .h-vertical {
  left: calc(50% - 1px);
  height: 100%;
  border-left: 1px solid red;
}
/* line 179, screen.scss */
html body .h-horizontal {
  top: calc(50% - 1px);
  width: calc(100% - 2.5em);
  border-bottom: 1px solid red;
}
/* line 185, screen.scss */
html body .h-gravity-point {
  width: 1.25em;
  height: 1.25em;
  background: red;
}
/* line 194, screen.scss */
html body #grid {
  display: block;
  position: absolute;
  top: 0;
  opacity: .1;
  z-index: -1;
}
/* line 203, screen.scss */
html body #grid .col {
  border-right: 1px solid;
  border-bottom: 1px solid;
  width: calc(7.5em + 1.25em - 1px);
  height: calc(5em + 1.25em - 1px);
  float: left;
}
/* line 211, screen.scss */
html body #grid .gutter-right {
  float: right;
  border-left: 1px solid;
  width: calc(1.25em - 1px);
  height: 100%;
}
/* line 218, screen.scss */
html body #grid .gutter-bottom {
  float: left;
  border-bottom: 1px solid;
  height: calc(1.25em - 1px);
  width: 100%;
}
