/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

@import "grid";
@import "typography";
@import "other";
@import "decorations";

html {
  body {
    // if we don't have a top gutter the first row of a grid is larger than the others. ie the first row's height cannot be set properly.
    width: calc(100% - #{$gutter * 2});
    margin: $gutter;
    
    @include typographic-grid;
    @include typographic-settings;
    
    
    
    header {
      @include block;
      @include text-grid;
      @include rows(1);
    }
    
    footer {
      @include block;
      @include text-grid;
      @include rows(2);
      @include footer-grid;
      
      nav {
        margin-top: $gutter;
      }
    }
    
    
    &.frontpage {
      article {
        @include portfolio-grid;
        
        &.reboot, &.next {
          display: none;
        }
        
      }
    }
    
    
    &.portfolio {
      main {
        @include block;
      }
      
      article {
        aside, h3, figcaption, &.services, &.next, &.logo-animated {
          display: none;
        }
        
        &.logo {
          @include columns(2);
          @include rows(1);
        }
        
        &.intro {
          @include text-grid;
          @include rows(2);
          @include lead;
        }
    
        .short {
          @include block;
          margin-top: $gutter;
        } 
        
        &.smartphone {
          @include single-portfolio-grid(3, 2, 5);
        }
        
        &.tablet {
          @include single-portfolio-grid(4, 3, 7);
        }
        
        &.desktop {
          @include single-portfolio-grid(5, 5, 5);
        }   
        
        
        &.smartphone, &.tablet {
          figure {
            @include smartphone-mockup;
          }
        }
        
      }
      
      .similar-projects {
        display: none;
      }
    }
    
    
    &.story {
      article {
        aside, figcaption {
          display: block;
        }
        
        &.logo figcaption, .short {
          display: none;
        }
    
        &.image {
          //background: url("../assets/images/background-aside.png") no-repeat scroll center center rgba(0, 0, 0, 0);
        }
        
        aside {
          margin-top: $grid-height + $gutter;
        }
        
        &.smartphone {
          @include story-grid(3, 3);
        }
        
        &.tablet {
          @include story-grid(4, 3);
        }
        
        &.desktop {
          @include single-portfolio-grid(8, 7, 6);
          @include story-grid(7, 3);
        }
      }
    
    }
    
    
    &.article {
      header {
        @include rows(2);
      }
      
      // It is important to have a height for <header> to push contents below the title and preserve the grid defined below
      article {
        @include article-grid;
        @include extended-typographic-settings;
        
        &.intro {
          p {
            @include lead;
          }
        }
      }
    }
    
    
    
    
    // The visual grid
    // ---------------------------------------------
    #grid {
      display: none;
      
      position: absolute;
      top: 0;
      opacity: .1;
      z-index: -1;
    }
    
    #grid .col {
      border-right: 1px solid;
      border-bottom: 1px solid;
      width: calc(#{$grid-width} + #{$gutter} - 1px);
      height: calc(#{$text-height} + #{$gutter} - 1px);
      float: left;
    }
    
    #grid .gutter-right {
      float: right;
      border-left: 1px solid;
      width: calc(#{$gutter} - 1px);
      height: 100%;
    }
    
    #grid .gutter-bottom {
      float: left;
      border-bottom: 1px solid;
      height: calc(#{$gutter} - 1px);
      width: 100%;
    }
  }
}
